Getting Ready for the SQL Assessment

You should be able to write the SQL queries that use SELECT, FROM, WHERE, CASE clauses, aggregates, and JOINs . 

To check your work, you can run your queries on [W3schools.com](http://bit.ly/1foSkgu).

Database Setup

In [30]:
import sqlite3

db = sqlite3.connect(':memory:')
c = db.cursor()

# Create tables
c.execute("""CREATE TABLE IF NOT EXISTS Flags(
                          id            INT PRIMARY KEY NOT NULL,
                          name          TEXT,
                          country       TEXT,
                          w_prop        INT,
                          l_prop        INT,
                          adoption_date DATE);
                          """)

c.execute("""CREATE TABLE IF NOT EXISTS Countries(
                        id          INT PRIMARY KEY NOT NULL,
                        country     TEXT,
                        capital     TEXT,
                        continent   TEXT,
                        FOREIGN KEY(id) REFERENCES Flags(id));
                        """)
db.commit()

# Insert that sweet, sweet data
c.execute("""INSERT INTO Flags
              VALUES (1, "Tricolour", "France", 2, 3, '1830'),
                     (2, "Union Jack", "United Kingdom", 1, 32, '1801'),
                     (3, "The Star-Strangled Banner", "USA", 10, 10, '1960'),
                     (4, "Hinomaru", "Japan", 2, 3, '1999'),
                     (5, "NA", "Brazil", 7, 10, '1992'),
                     (6, "Jalur Gemilang", "Malaysia", 1, 2, '1963');
                     """)

c.execute("""INSERT INTO Countries
             VALUES (1, "France", "Paris", "Europe"),
                    (2, "Malaysia", "Kuala Lumpur", "Asia"),
                    (3, "Brazil", "Brasilia", "South America"),
                    (4, "United Kingdom", "London", "Europe"),
                    (5, "Japan", "Tokyo", "Asia"),
                    (6, "USA", "Washington DC", "North America"),
                    (7, "Germany", "Berlin", "Europe");
                    """)
db.commit()

# query = """SELECT Salesperson.Name
#                      FROM Salesperson
#                      INNER JOIN Orders
#                      ON Salesperson.ID = Orders.salesperson_id;"""
# # Finally, actually execute the query
# results = c.execute(query).fetchall()
# 
# # Show what query it is we are running to the user
# print('SQL query to be ran: {}'.format(query))
# 
# print('Results:')
# print(set(results))

Our Data

In [31]:
print('We will be querying the following tables')

We will be querying the following tables

In [32]:
print('Table 1: flags - where w_prop is the width proportion and l_prop is the length proportion')

print('Table 2: countries')

Table 1: flags - where w_prop is the width proportion and l_prop is the length proportion
Table 2: countries

Queries on a Single Table

1. Use the WHERE clause to show the countries with a flag ratio of 2:3 (i.e. w_prop = 2 and l_prop = 3).
2. Use IN to check if an item is in a list and show the countries on a continent that is either Europe or
North America.
3. Use BETWEEN xxx AND xxx to show names of flags and countries that have width proportion higher than 1 but lower than 8.
4. Use LIKE  X%  to show countries that have an name that starts with ‘U’.
5. Use CASE to show countries, their capital and a column to indicate whether the continent is ‘Eurasia’ (i.e. Europe or Asia) or ‘Americas’ (North or South America). Add a filter to select countries with
capitals that are at least 7 character long.

In [33]:
# 1. Use the WHERE clause to show the countries with a flag ratio of 2:3 (i.e. w_prop = 2 and l_prop = 3).
query = """SELECT Flags.country FROM Flags WHERE w_prop = 2 AND l_prop = 3;"""

results = c.execute(query).fetchall()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
print(results)

SQL query to be ran:
SELECT Flags.country FROM Flags WHERE w_prop = 2 AND l_prop = 3;

Results:
[('France',), ('Japan',)]

In [35]:
# 2. Use IN to check if an item is in a list and show the countries on a continent, 
# that is either Europe or North America.
query = """SELECT country FROM Countries WHERE continent IN ('Europe', 'North America');"""

results = c.execute(query).fetchall()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
print(results)

SQL query to be ran:
SELECT country FROM Countries WHERE continent IN ('Europe', 'North America');

Results:
[('France',), ('United Kingdom',), ('USA',), ('Germany',)]

In [40]:
# 3. Use LIKE X% to show countries that have an name that starts with ‘U’.
query = """SELECT Flags.country FROM Flags WHERE country LIKE 'U%';"""

results = c.execute(query).fetchall()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
print(results)

SQL query to be ran:
SELECT Flags.country FROM Flags WHERE country LIKE 'U%';

Results:
[('United Kingdom',), ('USA',)]

In [41]:
# 4. Use LIKE X% to show countries that have an name that starts with ‘U’.
query = """SELECT Flags.country FROM Flags WHERE country LIKE 'U%';"""

results = c.execute(query).fetchall()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
print(results)

SQL query to be ran:
SELECT Flags.country FROM Flags WHERE country LIKE 'U%';

Results:
[('United Kingdom',), ('USA',)]

In [49]:
# 5. Use CASE to show countries, their capital and a column to indicate whether the continent is ‘Eurasia’ 
# (i.e. Europe or Asia) or ‘Americas’ (North or South America). Add a filter to select countries with capitals that are at least 7 character long.
query = """
    SELECT Countries.country, Countries.capital,
        CASE 
            WHEN Countries.continent IN ('Europe', 'Asia') THEN 'Eurasia'
        ELSE
            'Americas'
        END AS landmass
    FROM Countries
    WHERE LENGTH(Countries.capital) >= 7;
    """

results = c.execute(query).fetchall()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
print(results)

SQL query to be ran:

    SELECT Countries.country, Countries.capital,
        CASE
            WHEN Countries.continent IN ('Europe', 'Asia') THEN 'Eurasia'
        ELSE
            'Americas'
        END AS landmass
    FROM Countries
    WHERE LENGTH(Countries.capital) >= 7;


Results:
[('Malaysia', 'Kuala Lumpur', 'Eurasia'), ('Brazil', 'Brasilia', 'Americas'), ('USA', 'Washington DC', 'Americas')]

Queries with Aggregates

Aggregates include commands such as DISTINCT, COUNT, SUM, GROUP BY, HAVING, and ORDER BY. Try using these commands on the following questions!

1. Use DISTINCT to list the continents in the countries table - each continent should appear only once.
2. Use COUNT to see how many countries are in Europe.
3. Use GROUP BY to count how many countries are in each continent, with continents alphabetically ordered (hint: use ORDER BY).
4. Use HAVING to determine which continents are represented at least twice in the countries table.

In [89]:
# 1. Use DISTINCT to list the continents in the countries table - each continent should appear only once.
query = """
    SELECT DISTINCT(Countries.continent)
    FROM Countries;
    """

results = c.execute(query).fetchall()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
for _ in results:
    print(_)

SQL query to be ran:

    SELECT DISTINCT(Countries.continent)
    FROM Countries;


Results:
('Europe',)
('Asia',)
('South America',)
('North America',)

In [90]:
# 12. Use COUNT to see how many countries are in Europe.
query = """
    SELECT COUNT(Countries.id)
    FROM Countries
    WHERE Countries.continent = 'Europe';
    """

results = c.execute(query).fetchone()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
results

SQL query to be ran:

    SELECT COUNT(Countries.id)
    FROM Countries
    WHERE Countries.continent = 'Europe';


Results:

(3,)

In [91]:
# 3. Use GROUP BY to count how many countries are in each continent, with continents alphabetically ordered (hint: use ORDER BY).
query = """
    SELECT Countries.continent, COUNT(Countries.country)
    FROM Countries
    GROUP BY Countries.continent
    ORDER BY Countries.continent;
    """

results = c.execute(query).fetchall()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
for _ in results:
    print(_)

SQL query to be ran:

    SELECT Countries.continent, COUNT(Countries.country)
    FROM Countries
    GROUP BY Countries.continent
    ORDER BY Countries.continent;


Results:
('Asia', 2)
('Europe', 3)
('North America', 1)
('South America', 1)

In [99]:
# 4. Use HAVING to determine which continents are represented at least twice in the countries table.
query = """
    SELECT COUNT(Countries.country) AS country_count, Countries.continent
    FROM Countries
    GROUP BY Countries.continent
    HAVING country_count >= 2;
    """

results = c.execute(query).fetchall()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
for _ in results:
    print(_)

SQL query to be ran:

    SELECT COUNT(Countries.country) AS country_count, Countries.continent
    FROM Countries
    GROUP BY Countries.continent
    HAVING country_count >= 2;


Results:
(2, 'Asia')
(3, 'Europe')

Build Complex Queries on Multiple Tables

1. Use JOIN to display the capital, the country, and the flag name.
2. Use JOIN and WHERE to display the continents associated to the flags in the flags table when the flag
has a name (i.e. not ‘NA’).
3. Use JOIN and HAVING to display continents that have at least 2 countries represented as well as the
average adoption date of the flag (as avg_date).

In [103]:
# 1. Use JOIN to display the capital, the country, and the flag name.
query = """
    SELECT Countries.capital, Countries.country, Flags.name
    FROM Countries
    INNER JOIN Flags ON Flags.id = Countries.id;
    """

results = c.execute(query).fetchall()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
for _ in results:
    print(_)

SQL query to be ran:

    SELECT Countries.capital, Countries.country, Flags.name
    FROM Countries
    INNER JOIN Flags ON Flags.id = Countries.id;


Results:
('Paris', 'France', 'Tricolour')
('Kuala Lumpur', 'Malaysia', 'Union Jack')
('Brasilia', 'Brazil', 'The Star-Strangled Banner')
('London', 'United Kingdom', 'Hinomaru')
('Tokyo', 'Japan', 'NA')
('Washington DC', 'USA', 'Jalur Gemilang')

In [111]:
# 2. Use JOIN and WHERE to display the continents associated to the flags in the flags table when the flag has a name (i.e. not ‘NA’).
query = """
    SELECT Countries.continent, Flags.name
    FROM Countries
    JOIN Flags ON Flags.id = Countries.id
    WHERE NOT Flags.name = 'NA';
    """

results = c.execute(query).fetchall()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
for _ in results:
    print(_)

SQL query to be ran:

    SELECT Countries.continent, Flags.name
    FROM Countries
    JOIN Flags ON Flags.id = Countries.id
    WHERE NOT Flags.name = 'NA';


Results:
('Europe', 'Tricolour')
('Asia', 'Union Jack')
('South America', 'The Star-Strangled Banner')
('Europe', 'Hinomaru')
('North America', 'Jalur Gemilang')

In [116]:
# 3. Use JOIN and HAVING to display continents that have at least 2 countries represented as well as the average adoption date of the flag (as avg_date).
query = """
    SELECT Countries.continent, AVG(CAST(Flags.adoption_date as decimal)) AS 
    avg_date
    FROM Countries
    JOIN Flags ON Flags.id = Countries.id
    GROUP BY Countries.continent
    HAVING COUNT(Countries.country) >= 2;
    """

results = c.execute(query).fetchall()
db.commit()
print('SQL query to be ran: \n{}'.format(query))

print('\nResults:')
for _ in results:
    print(_)

SQL query to be ran:

    SELECT Countries.continent, AVG(CAST(Flags.adoption_date as decimal)) AS
    avg_date
    FROM Countries
    JOIN Flags ON Flags.id = Countries.id
    GROUP BY Countries.continent
    HAVING COUNT(Countries.country) >= 2;


Results:
('Asia', 1896.5)
('Europe', 1914.5)